body{
    font-family:"Roboto";
    font-size:12px;
}
/*NAVBAR*/

/*blocco logo*/
.navbar-brand{
    width:30px;
}

/*immagine logo*/
.navbar-brand img{
    max-width:100%;
}

/*testo navbar*/
.nav-item a{
    color:white;
}

/*navbar - cerca*/
.form-control{
    background-color:white;
}

.btn .btn-outline{
    background-color:white;
}

/*icone azioni tabella*/
table td button{
    background-color:transparent;
    border:1px  solid grey;
    color:grey;
}

/*testo sezioni todo e faq*/
label, .accordion-button.collapsed{
    color:grey;
}

/*accordion*/
.accordion{
    padding:10px;
}
