body{
    font-family:"Roboto";
    font-size:12px;
}

/*blocco logo*/
.navbar-brand{
    width:30px;
}

/*immagine logo*/
.navbar-brand img{
    max-width:100%;
}

table .btn{
    padding:0 2px;
}

.card .btn{
    background-color:white;
    border:none;
    color:black;
}